.form-inline{
    float: right;

}
.navbar{
    background-color: rgb(88, 86, 86);
    color: white;
}
h1{
    text-align: center;
    margin-left:20px;
}
.form-control{
    margin-top: 20px; 
}
.main{
    text-align: center;
}

 .item{
    margin-top: 30px;
}

.linkovi{
    margin-top:  20px;

}

img{
    width: 70%;
}

.single1{
    width: 50%;
    height: 30%;
}

.glumci{
    text-align: left;
    position: absolute;
    top: 200px;
    right: 400px;
}

.sezone{
    width: 30%;
    position: absolute;
    right: 120px;
    top: 500px;
}

.searchList {
    width: fit-content;
    float: right;
    position: absolute;
    top: 50;
    right: 0;
    z-index: 0;

}

.form-inline{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}